In [1]:
class myclass:
    x=5 
p1=myclass
print(p1.x)

5

In [5]:
class person:
    name=input()
    def greetings(self):
        print("Hello world my name is",self.name)
        
p=person
person.greetings(p)

Hello world my name is chaman

In [7]:
class person:
    def __init__(self):
        print("object created")
        
p=person
person.__init__(p)

object created

In [1]:
x=int
print(type(x))

<class 'type'>

In [4]:
ord("a")

97

#### **Dunders or Magic methods**

In [11]:
class car:
    def __init__(self,model,mielage):
        self.model=model
        self.mileage=mielage
    
    def __str__(self):
        return " {} {}".format(self.model,self.mileage)
    
    def __repr__(self):
        return "{}".format(self.model)
    
    def __eq__(self, other):
        return self.mileage==other.mileage
    
    def __add__(self,other):
        return self.mileage+other.mileage
    
c1=car("a",2)
c2=car("b",3)
#c1+c2
c1==c2

False

In [14]:
class Ostream:
    def __lshift__(self,other):
        print(other,end ='')
        return self

cout=Ostream()
cout<<"hello world"

hello world

In [41]:
class dog:
    kind="canine"
    tricks=[]
    def __init__(self,name):
        self.name=name
        
    def add_trick(self,trick):
        self.tricks.append(trick)

a=dog("tommy")
a.kind

a.add_trick("fetch")
a.add_trick("talk")
a.tricks

['fetch', 'talk']

In [33]:
b=dog("maxx")
b.kind="bulldog"
b.kind

'bulldog'

In [34]:
a=dog("German shephard")

### **Inheritance**

In [1]:
class SchoolMember:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print("Initialized School Member: {}".format(self.name))
    
    def tell(self):
        print('Name: "{}" Age: "{}"'.format(self.name, self.age))
        
class Teacher(SchoolMember):
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.salary = salary
        print("Initialized Teacher: {}".format(self.name))
            
    def tell(self):
        super().tell()
        print("Salary: {:d}".format(self.salary))
            
class Student(SchoolMember):
    def __init__(self, name, age, marks):
        super().__init__(name, age)
        self.marks = marks
        print("Initialized Student: {}".format(self.name))
     
    def tell(self):
        super().tell()
        print("Marks: {:d}".format(self.marks))

t = Teacher("Mr. Chaman", 45, 40000)
s = Student("Mr. Baman", 25, 40)

t.tell()
s.tell()

Initialized School Member: Mr. Chaman
Initialized Teacher: Mr. Chaman
Initialized School Member: Mr. Baman
Initialized Student: Mr. Baman
Name: "Mr. Chaman" Age: "45"
Salary: 40000
Name: "Mr. Baman" Age: "25"
Marks: 40

### ****multiple inheritance or diamond problem in python****

In [7]:
class A:
    x=5

class B(A):
    pass

class C(A):
    pass

class D(C):
    x=10
    
class E(B,D):
    pass

E.x

10

##### **method/sequence oF MRO in above**

In [6]:
E.__mro__

(__main__.E, __main__.B, __main__.D, __main__.C, __main__.A, object)