In [1]:
a="baburao"
print(a)

baburao

### **String methods**

- formated string
- strip
- split
- replace
- count

In [4]:
name="shivam"
age=20
year=3

print("My name is {}.I'm {} years old. i'm in {}rd year".format(name,age,year))
print(f"My name is {name}.I'm {age} years old. i'm in {year}rd year")

My name is shivam.I'm 20 years old. i'm in 3rd year
My name is shivam.I'm 20 years old. i'm in 3rd year

#### strip

In [5]:
str=" hello world  "
str.strip()

'hello world'

#### split

In [8]:
str="my name is shivam"
str.split()

['my', 'name', 'is', 'shivam']

#### replace

In [10]:
str.replace("shivam","Ghanshyam")

'my name is Ghanshyam'

#### count

In [13]:
a="aaaazzzzzzzzzzzzzxxxxxxxxxxxx"
print(a)
a.count("z")
#a.count("y")

aaaazzzzzzzzzzzzzxxxxxxxxxxxx

0