In [1]:
mytuple=(2,4,5,6)
print(mytuple)

(2, 4, 5, 6)

In [3]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "mango" in thistuple:
   print("yes it is")

else:
    print("not in tuple")

yes it is

#### ***updating tuples***

In [6]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [8]:
def mytuple(*args):
    print(args)
    
mytuple(1,2,3)

(1, 2, 3)

#### unpacking tuple

In [9]:
a=1,2,3
c,d,e=a
print(c,d,e)

1 2 3

#### **swapping with the help of tuple**

In [10]:
a=5
b=9
a,b=b,a
print(a,b)

9 5

#### Returing multiple values from function

In [11]:
def addsbutract(a,b):
    return a+b,a-b

add,sub=addsbutract(5,6)
print(add,sub)

11 -1